<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://de.diedavids.jmix.rys/menu.application.title" opened="true">
        <item view="rys_User.list" title="msg://de.diedavids.jmix.rys.view.user/UserListView.title"/>
        <item view="rys_Product.list" title="msg://de.diedavids.jmix.rys.view.product/productListView.title"/>
        <item view="rys_ProductCategory.list"
              title="msg://de.diedavids.jmix.rys.product.view.productcategory/productCategoryListView.title"/>
    </menu>

</menu-config>
